@{
    Layout = null;
    ViewData["Title"] = "ForgotPassword";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ForgotPassword.css">
</head>
<body>




    <div class="form-container">


        <h2>Forgot Password</h2>
        <br />

        <form id="forgotPasswordForm" role="form" class="form" method="post" asp-action="ForgotPassword">

            <label for="email">Enter your email:</label>

            <input type="email" id="email" name="email" placeholder="Enter your registered email" required>

            @* <button type="submit">Reset Password</button> *@
            <div class="form-group">
                <input name="recover-submit" class="btn btn-lg btn-block"
                       style="background-image: linear-gradient(90deg, rgba(4.2, 0, 0, 0.4), #7C78B8);
                        border-radius: 30px; color:antiquewhite;" value="Reset Password" type="submit">
            </div>

            <input type="hidden" class="hide" name="token" id="token" value="">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">@ViewBag.Message</div>
            }
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }


        </form>

        <div id="responseMessage"></div>

    </div>

    <script src="script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
