@{
    Layout = null;
    ViewData["Title"] = "ResetPassword";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ForgotPassword.css">
</head>
<body>




    <div class="form-container">


        <h2>Reset Password</h2>
        <br />


        <form method="post">
            <div class="form-group">
                <label for="password">Enter new password:</label>
                <input type="password" class="form-control" id="password" name="newPassword" required>
            </div>
            <button type="submit" class="btn " style="background-image: linear-gradient(90deg, rgba(4.2, 0, 0, 0.4), #7C78B8);
                        border-radius: 30px; color:antiquewhite;">
                Reset Password
            </button>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">@ViewBag.Message</div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }
        </form>

        <div id="responseMessage"></div>

    </div>

    <script src="script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>