body {
    font-family: Arial, sans-serif;
    /*    display: flex;*/
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .2), #7C78B8);
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 601px;
    text-align: left;
    margin-left: 31%;
    margin-top: 13%;
}

a

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s ease;
}

    button:hover {
        background: #218838;
    }

img, svg {
    vertical-align: middle;
    height: 158px;
}




h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s ease;
}

    button:hover {
        background: #218838;
    }
